@import 'https://fonts.googleapis.com/css?family=Raleway:100,300';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';

body {
	overflow-x: hidden !important;
    margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	transition: 0.2s ease-out;
	transition-property: width, height;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}


header {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden !important;
}
/* Fondos con montañas del header */
#fondo1 {
	background: url("https://raw.githubusercontent.com/YuneVK/YuneVK.github.io/master/img/fondouno.png") no-repeat;
	background-position: center bottom;
	z-index: 5;
}

#fondo2 {
	background: url("https://raw.githubusercontent.com/YuneVK/YuneVK.github.io/master/img/fondodos.png") no-repeat;
	background-position: center bottom;
	z-index: 10;
}

#fondo3 {
	background: url("https://raw.githubusercontent.com/YuneVK/YuneVK.github.io/master/img/fondotres.png") no-repeat;
	background-position: center bottom;
	z-index: 15;
}

#fondo1, #fondo2, #fondo3 {
	position: absolute;
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

/* Div que se usará con particles.js */
#particles-js {
	position: absolute;
	background: radial-gradient(#2F527A, #0B223C);
	height: 100vh;
	width: 100vw;
	z-index: -10;
}

/* Colores de los elementos SVG (nubes, luna y ornamentos) */
.st0{opacity:0.79;fill:#FFFFFF;}
.st1{opacity:0.15;fill:#DDB481;}
.st2{opacity:0.22;fill:#DDB481;}
.st3{fill:#DDB481;}
.st4{fill:#E0C5A4;}
.st5{fill:#FFFFFF;}
.st6{fill:#C79665;}

/* Luna en SVG */
#luna_1_ {
	position: absolute;
	bottom: 12vh;
	left: calc(50vw - 25vh);
	width: 50vh;
	z-index: -9;
}

/* Primer foco de luz de la luna */
#Luz1 {
	animation: lucesLuna1 3s ease infinite;
}

/* Segundo foco de luz de la luna */
#Luz2 {
	animation: lucesLuna2 3s ease infinite;
}

/* Animaciones para las luces de la luna */
@keyframes lucesLuna1 {
	0% {opacity: 0.4;}
	50% {opacity: 0.5;}
	100% {opacity: 0.4}
}

@keyframes lucesLuna2 {
	0% {opacity: 0.2;}
	50% {opacity: 0.3;}
	100% {opacity: 0.2}
}

/* Nubes */
.nube {
	fill: #FFF;
	opacity: 0.7;
}

#nube1 {
	position: absolute;
	width: 22vmax;
	top: 35vh;
	animation: nubes 150s infinite linear;
	margin-left: 40%;
	z-index: 3;
}

#nube2 {
	position: absolute;
	width: 10vmax;
	top: 40vh;
	animation: nubes 110s infinite linear;
	margin-left: 20%;
	z-index: 0;
}

#nube3 {
	position: absolute;
	width: 10vmax;
	top: 50vh;
	animation: nubes 100s infinite linear;
	margin-left: 80%;
	z-index: 0;
}

#nube4 {
	position: absolute;
	width: 22vmax;
	top: 60vh;
	animation: nubes 130s infinite linear;
	margin-left: 60%;
	z-index: 8;
}

#nube5 {
	position: absolute;
	width: 6vmax;
	top: 53vh;
	animation: nubes 90s infinite linear;
	margin-left: 40%;
	z-index: 8;
}

/* Animación para las nubes */
@keyframes nubes {
	0% {
		left: -60%;
	}
	100% {
		left: 120%;
	}
}

/* Div que se mostrará cuando no se use particles.js, es decir
 *	cuando se acceda a la página desde un dispositivo móvil
 */
#estrellas {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: url("https://raw.githubusercontent.com/YuneVK/YuneVK.github.io/master/img/estrellas.JPG") no-repeat center;
	background-size: cover;
	z-index: -9;
	opacity: 0;
}

/* Contenido principal del hader, con el título */
#contenidoHeader {
	height: 100vh;
	width: 100vw;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
	text-align: center;
	position: relative;
	top: -10vh;
}

/* Todos los elementos del contenido principal estarán sobre el resto del fondo */
#contenidoHeader * {
	z-index: 30;
}

/* Ornamentos del hader */
.ornament {
	fill: rgba(255, 255, 255, 1);
}

/* Contenido de los ornamentos */
.ornamentCont {
	width: 15em;
}

/* Título de la página en el header */
#contenidoHeader h1 {
	font-weight: 100;
	font-size: 5em;
	color: #FFF;
	line-height: 0.8em;
	letter-spacing: -0.06em;
	padding: 0.2em;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

/* 'Ruiz' en el título */
#contenidoHeader b {
	font-weight: 300;
}

/* Subtítulo del header */
#contenidoHeader h2 {
	font-weight: 300;
	font-size: 1.5rem;
	color: #FFF;
	line-height: 0.8em;
	letter-spacing: -0.04em;
	padding: 0.5em 3em;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
/* Sección 'Sobre mí' */
#about {
	background-color: #0A0618;
	color: white;
	padding: 20px;
	text-align: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: justify;
	    align-items: center;
}

/* Elemento H1 de cada una de la secciones (su título) */
.seccion {
	font-weight: 100;
	font-size: 2.8em;
	text-align: center;
}

/* Línea inferior al título de cada sección */
.borde {
	width: 6em;
	height: 0.25em;
	background-color: #E0C5A4;
	border-radius: 10px;
	margin-top: 0.6em;
}

/* Texto de la sección 'Sobre mí' */
#about p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.1em;
	padding: 1.8em;
	max-width: 800px;
	letter-spacing: 0.08em;
	line-height: 1.5em;
}

/* Ilustración de 'Sobre mí' */
#girl {
	width: 70vw;
	max-width: 500px;
	height: auto;
	padding: 1.7em 0;
}
.card{
    background: #b698d1;
    width: 280px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 40px 0 #000f;
    padding: 20px 10px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #444;
    text-align: center;
    display: inline-block;
    margin: 10px;
}
.green-card{
    background: #91d680;
}
.red-card{
    background: #f06d6d;
}
.orange-card{
    background: #f8914d;
}
.pink-card{
    background: #ffc0cb;
}
.purple-card{
    background: #e675e6;
}
.card_tittle{
    font-size: 22px;
    margin: 0;
}
.card_subtittle{
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 1.5px;
    margin: 0;
    margin-top: 5px;
    color: #000000;
}
.card_content{
    padding: 10px;
    padding-bottom: 0;
    text-align: justify;
    font-size: 13px;
    margin-bottom: 0;

}
.card_img{
    margin: 5px;
    width: 200px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 0 40px 0 #000f;
}
